parameters:
	ignoreErrors:
		-
			message: "#^Class HalcyonAgile\\\\FilamentExport\\\\Export\\\\DefaultExport implements generic interface Maatwebsite\\\\Excel\\\\Concerns\\\\WithMapping but does not specify its types\\: RowType$#"
			count: 1
			path: src/Export/DefaultExport.php
